$primary: #dc6753;
$bp-s: 46.25em; // 740px

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial,sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: white;
}

.box{
  margin: 0 auto;
  width: 100%;
  background: $primary;
  color: white;
  border: none;
  overflow: hidden;

  @media (min-width: $bp-s){
    margin: 2rem auto;
    max-width: 700px;
    border-radius: 3px;
  }
}
.input--helper{
  position: relative;
  display: block;
  width: 100%;
  min-height: 4rem;
  //border-bottom: 2px solid rgba(white,.1);

  @media (min-width: $bp-s){
    min-height: 5rem;
  }
}
.preInput{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  font-size: 1.3rem;
  padding: 1rem 0 1rem 2rem;
  color: rgba(white,1);
  overflow: hidden;

  @media (min-width: $bp-s){
    font-size: 2rem;
  }
}

.input{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 2rem 1rem 4rem;
  background: transparent;
  color: rgba(white,.6);
  border: none;

  @media (min-width: $bp-s){
    font-size: 2rem;
  }

  &::-webkit-input-placeholder {
    color: rgba(white,.8);
    opacity: 1;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(white,.8);
    opacity: 1;  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(white,.8);
    opacity: 1;  
  }

  &:-ms-input-placeholder {  
    color: rgba(white,.8);
    opacity: 1;  
  }
  &::placeholder{
    color: rgba(white,.8);
    opacity: 1;
  }

  &:hover,
  &:active,
  &:focus,
  &:active:focus{
    outline: none;
    color: white;
  }
}

.autocomplete-suggestions{
  background: $primary;
  max-height: none;
  border-radius: 0 0 3px 3px;

  .autocomplete-suggestion{
    padding: 1rem;
    color: white;
    font-size: 1.2rem;

    @media (min-width: $bp-s){
      font-size: 2rem;
    }

    &:nth-child(odd){
      background: rgba(black,.1);
    }

    &.autocomplete-selected{
      cursor: pointer;
      background: rgba(white,.1);
    }
  }
}

.result{
  position: relative;
  z-index: 0;
  // border-radius: 0 0 3px 3px;
}

h1,
.num{
  font-size: 5rem;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
  background: rgba(white,.1);
  border-radius: 0;

  @media (min-width: $bp-s){
    font-size: 10rem;
  }
}
h2,
.title{
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0 1rem 1rem;
  background: rgba(white,.1);

  @media (min-width: $bp-s){
    font-size: 2rem;
  }
}
p,
ul{
  margin: 1rem;

  @media (min-width: $bp-s){
    margin: 1rem 2rem;
  }
}

.heading{
  display: block;
  margin: 0;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: rgba(white,.1);
  border-top: 1px solid rgba(white,.1);
  cursor: pointer;

  @media (min-width: $bp-s){
    padding: 1rem 2rem;
  }

  &:hover,
  &:active,
  &:focus,
  &:active:focus{
    background: rgba(white,.2);
    user-select: none;
  }
}

footer{
  text-align: center;
  margin: 1rem 0;
  padding: 0 2rem;
  color: #999;
  font-size: .9rem;
  
  span{
    color: #ccc;
    margin: 0 .1rem;
  }
  a{
    color: inherit;
    text-decoration: none;
    
    &:hover{
      color: #333;
    }
  }
}